@tailwind base;
@tailwind components;
@tailwind utilities;

/* Landing Page */

.homepage-container {
  background-image: url("../public/landingPage/bg.jpeg");
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
}

.homepage-container::-webkit-scrollbar {
  display: none;
}

.left {
  flex: 2;
}

.right {
  flex: 3;
}

.leftWho {
  flex: 1;
}

.rightWho {
  flex: 1;
}

.heroImg {
  animation: floating 2s infinite ease alternate;
}

@keyframes floating {
  to {
    transform: translateY(20px);
  }
}
